<?xml version="1.0" encoding="UTF-8"?>  
<web-app>
	<display-name>SampleRest</display-name>

	<servlet>
		<servlet-name>rest-ws</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>br.com.sample.rest.resource</param-value>
        </init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>rest-ws</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
</web-app>